# Give options for saving figures (give arguments for running ./src/redrawSave.py)

# Mandatory options to be included here: -step <cut step> --kinematic <kinematic>

# Some other options that are not mandatory are as below
# --year <year: to correct the lumi on the top right, if needed>
# --isPreliminary <True or False>
# --output_dir <pdf output directory>
# --legend_column <# of columns for the legend>
# --display_title <True or False> 
# --draw_without_ratio <True or False> 
# --set_logX <True or False> 
# --x_range <x axis range in list format> 
# --x_title <x axis title in TLatex format> 
# --set_logY <True or False> 
# --histo_y_range <stacked histogram y axis range in list format> 
# --histo_y_title <stacked histogram y axis title> 
# --ratio_y_range <ratio plot y axis range in list format>

# IMPORTANT: when giving options for axis title, please note the followings (otherwise, it'll crash):
# 1. if the title contains brackets, please put a backslash before opening and closing of the brackets, i.e. p_{T}\(jj\) instead of p_{T}(jj)
# 2. if the title contains greek letters that require backslash in latex form, replace the backslash with hashtag, i.e. #mu instead of \mu

--step NDiMuonCombinations --kinematic DiMuonPt --x_range [0,300] --set_logY True --ratio_y_range [0.6,1.4] --legend_column 2 --year 2017

--step NRecoBJet --kinematic Met --x_title p^{miss}_{T}[GeV] --histo_y_title Events --legend_column 1 --x_range [250,1000] --year 2017 
