luminosity 35920
output outDibosonCR_2016_centralandvbf_ptj30pmu20_07142020_full.root
style cms

../Submission/Outputs/allData.root          Data.root

#DY and WJets all inclusive:
# Alfredo:  DY: 6225.420, W+Jets: 61526.7
# Francesco: DY: 6025.2, W+jets: 61334.9 
../Submission/Outputs/DYJetsToLL_M-50.root		DY+Jets.root	6025.200       1.00		bg
../Submission/Outputs/WJetsToLNu.root            W+Jets.root     61334.90       1.00     bg

# DY+Jets M-50
# ../Submission/Outputs/DYJetsToLL_M-50_HT-70to100.root	     DY+Jets.root     215.619	1.00     bg
../Submission/Outputs/DYJetsToLL_M-50_HT-100to200.root        DY+Jets.root     213.400	1.00     bg
../Submission/Outputs/DYJetsToLL_M-50_HT-200to400.root        DY+Jets.root     65.4200	1.00     bg
../Submission/Outputs/DYJetsToLL_M-50_HT-400to600.root        DY+Jets.root     7.31000	1.00     bg
../Submission/Outputs/DYJetsToLL_M-50_HT-600to800.root        DY+Jets.root     1.49000	1.00     bg
../Submission/Outputs/DYJetsToLL_M-50_HT-800to1200.root       DY+Jets.root     0.66100	1.00     bg
../Submission/Outputs/DYJetsToLL_M-50_HT-1200to2500.root      DY+Jets.root     0.11900	1.00     bg
../Submission/Outputs/DYJetsToLL_M-50_HT-2500toInf.root       DY+Jets.root     0.00280	1.00     bg

# DY+Jets M-5to50 (using xsec to LO from XSDB tool)
# ../Submission/Outputs/DYJetsToLL_M-5to50_HT-70to100.root            DY+Jets.root     301.00          1.00     bg
../Submission/Outputs/DYJetsToLL_M-5to50_HT-100to200.root            DY+Jets.root     224.20          1.00     bg
../Submission/Outputs/DYJetsToLL_M-5to50_HT-200to400.root            DY+Jets.root     37.200          1.00     bg
../Submission/Outputs/DYJetsToLL_M-5to50_HT-400to600.root            DY+Jets.root     3.5810          1.00     bg
../Submission/Outputs/DYJetsToLL_M-5to50_HT-600toInf.root            DY+Jets.root     1.1240          1.00     bg

# QCD
# ../Submission/Outputs/QCD_HT100to200.root 	QCD.root 	27990000.00	1.00	bg
# ../Submission/Outputs/QCD_HT200to300.root 	QCD.root 	1559000.00	1.00	bg
# ../Submission/Outputs/QCD_HT300to500.root 	QCD.root 	351900.00	1.00	bg
# ../Submission/Outputs/QCD_HT500to700.root 	QCD.root 	29070.00	1.00	bg
# ../Submission/Outputs/QCD_HT700to1000.root 	QCD.root 	5962.00		1.00	bg
# ../Submission/Outputs/QCD_HT1000to1500.root 	QCD.root 	1005.00		1.00	bg
# ../Submission/Outputs/QCD_HT1500to2000.root 	QCD.root 	101.80		1.00	bg
# ../Submission/Outputs/QCD_HT2000toInf.root	QCD.root	20.54		1.00	bg

# QCD Muon Enriched samples
../Submission/Outputs/QCD_Pt-15to20_MuEnrichedPt5.root 			QCD_MuEn.root 	3819570.0	1.00	bg
../Submission/Outputs/QCD_Pt-20to30_MuEnrichedPt5.root 			QCD_MuEn.root 	2960198.4	1.00	bg
../Submission/Outputs/QCD_Pt-30to50_MuEnrichedPt5.root 			QCD_MuEn.root 	1652471.5	1.00	bg
../Submission/Outputs/QCD_Pt-50to80_MuEnrichedPt5.root 			QCD_MuEn.root 	 437504.5	1.00	bg
../Submission/Outputs/QCD_Pt-80to120_MuEnrichedPt5.root 		QCD_MuEn.root 	 106033.7	1.00	bg
../Submission/Outputs/QCD_Pt-120to170_MuEnrichedPt5.root 		QCD_MuEn.root 	  25190.5	1.00	bg
../Submission/Outputs/QCD_Pt-170to300_MuEnrichedPt5.root 		QCD_MuEn.root 	   8654.5	1.00	bg
../Submission/Outputs/QCD_Pt-300to470_MuEnrichedPt5.root		QCD_MuEn.root	    797.4	1.00	bg
../Submission/Outputs/QCD_Pt-470to600_MuEnrichedPt5.root 		QCD_MuEn.root 	     79.0	1.00	bg
../Submission/Outputs/QCD_Pt-600to800_MuEnrichedPt5.root 		QCD_MuEn.root 	     25.1	1.00	bg
../Submission/Outputs/QCD_Pt-800to1000_MuEnrichedPt5.root		QCD_MuEn.root	      4.7	1.00	bg
../Submission/Outputs/QCD_Pt-1000toInf_MuEnrichedPt5.root		QCD_MuEn.root	      1.6	1.00	bg

# Single top
../Submission/Outputs/ST_s-channel_4f_leptonDecays.root		  		  SingleTop.root   3.680    1.00   bg
../Submission/Outputs/ST_t-channel_antitop_4f_inclusiveDecays.root     SingleTop.root   80.95    1.00   bg
../Submission/Outputs/ST_t-channel_top_4f_inclusiveDecays.root         SingleTop.root   136.02   1.00   bg
../Submission/Outputs/ST_tW_antitop_5f_inclusiveDecays.root            SingleTop.root   38.06    1.00   bg
../Submission/Outputs/ST_tW_top_5f_inclusiveDecays.root                SingleTop.root   38.06    1.00   bg

# ttbar
# ../Submission/Outputs/TT.root     					t#bar{t}.root   831.59   1.00   bg
../Submission/Outputs/TTTo2L2Nu.root     	t#bar{t}.root    88.29   1.00   bg
../Submission/Outputs/TTToHadronic.root  	t#bar{t}.root   377.96	 1.00	bg
../Submission/Outputs/TTToSemiLeptonic.root	t#bar{t}.root	365.34	 1.00	bg

# TT+X
../Submission/Outputs/TTWJetsToLNu.root				t#bar{t}.root	0.2043		1.00	bg
../Submission/Outputs/TTWJetsToQQ.root				t#bar{t}.root	0.4062		1.00	bg
../Submission/Outputs/TTZToLLNuNu_M-10.root			t#bar{t}.root	0.2529		1.00	bg
../Submission/Outputs/TTZToQQ.root					t#bar{t}.root	0.5297		1.00	bg
../Submission/Outputs/TTGJets.root					t#bar{t}.root	3.6970		1.00	bg
../Submission/Outputs/TTTT.root						t#bar{t}.root	0.0090		1.00	bg			
../Submission/Outputs/ttH_HToZZ_4LFilter_M125.root	t#bar{t}.root	0.0001355	1.00	bg

# W+jets
# ../Submission/Outputs/WJetsToLNu_HT-70To100.root			W+Jets.root      1595.99	    1.00      bg
../Submission/Outputs/WJetsToLNu_HT-100To200.root		W+Jets.root      1695.0			1.00      bg
../Submission/Outputs/WJetsToLNu_HT-200To400.root		W+Jets.root      532.40			1.00      bg
../Submission/Outputs/WJetsToLNu_HT-400To600.root		W+Jets.root      61.600         1.00      bg
../Submission/Outputs/WJetsToLNu_HT-600To800.root		W+Jets.root      12.400         1.00      bg
../Submission/Outputs/WJetsToLNu_HT-800To1200.root		W+Jets.root      5.7700         1.00      bg
../Submission/Outputs/WJetsToLNu_HT-1200To2500.root		W+Jets.root      1.0230         1.00      bg
../Submission/Outputs/WJetsToLNu_HT-2500ToInf.root		W+Jets.root      0.0248			1.00      bg

# Diboson
../Submission/Outputs/WWTo2L2Nu.root     						VV.root     10.480		1.00	bg
../Submission/Outputs/WWTo4Q.root								VV.root		51.723		1.00	bg
../Submission/Outputs/WWToLNuQQ.root								VV.root		43.530		1.00	bg
../Submission/Outputs/WZTo1L1Nu2Q.root							VV.root		10.730		1.00	bg
../Submission/Outputs/WZTo1L3Nu.root								VV.root		3.0540		1.00	bg
../Submission/Outputs/WZTo2L2Q.root								VV.root		5.6060		1.00	bg
../Submission/Outputs/WZTo3LNu.root								VV.root		4.4300		1.00 	bg
../Submission/Outputs/ZZTo2L2Nu.root								VV.root		0.5644  	1.00	bg
../Submission/Outputs/ZZTo2L2Q.root								VV.root		3.2220		1.00	bg
../Submission/Outputs/ZZTo2Q2Nu.root								VV.root		4.0330		1.00	bg
../Submission/Outputs/ZZTo4L.root								VV.root		1.2560		1.00	bg
../Submission/Outputs/ZZTo4Q.root        						VV.root		6.842		1.00	bg
../Submission/Outputs/GluGluWWTo2L2Nu_MCFM.root					VV.root		0.5906		1.00	bg
../Submission/Outputs/WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root	VV.root		2.616		1.00	bg
../Submission/Outputs/WpWpJJ_QCD.root							VV.root		0.02612		1.00	bg
# Consider these diboson for the SF calculation.
../Submission/Outputs/WWTo2L2Nu_DoubleScattering.root			VV.root		1.62		1.00	bg
../Submission/Outputs/ZZJJTo4L_EWK.root				VV.root	0.0004454	1.00	bg
../Submission/Outputs/ZZJJ_ZZTo2L2Nu_EWK.root		VV.root	0.002971	1.00	bg
../Submission/Outputs/WpWpJJ_EWK.root				VV.root	0.02695		1.00	bg
../Submission/Outputs/WWJJToLNuLNu_EWK_noTop.root	VV.root	0.3439		1.00	bg
../Submission/Outputs/WLLJJ_WToLNu_EWK.root			VV.root	0.01762		1.00	bg

# Z+jets to nunu
#../Submission/Outputs/ZJetsToNuNu_HT-100To200.root		ZToNuNu.root	384.1		1.00	bg
#../Submission/Outputs/ZJetsToNuNu_HT-200To400.root		ZToNuNu.root	118.1		1.00	bg
#../Submission/Outputs/ZJetsToNuNu_HT-400To600.root		ZToNuNu.root	14.70		1.00	bg
#../Submission/Outputs/ZJetsToNuNu_HT-600To800.root		ZToNuNu.root	3.350		1.00	bg
#../Submission/Outputs/ZJetsToNuNu_HT-800To1200.root		ZToNuNu.root	1.680		1.00	bg
#../Submission/Outputs/ZJetsToNuNu_HT-1200To2500.root	ZToNuNu.root	0.316		1.00	bg
#../Submission/Outputs/ZJetsToNuNu_HT-2500ToInf.root		ZToNuNu.root	0.00722		1.00	bg

# Triboson
../Submission/Outputs/WWW_4F.root 	VVV.root	0.20860		1.00	bg
../Submission/Outputs/WWZ.root		VVV.root	0.16510		1.00	bg
../Submission/Outputs/WZZ.root		VVV.root	0.05565		1.00	bg
../Submission/Outputs/ZZZ.root		VVV.root	0.01398		1.00	bg

# VBF Higgs
../Submission/Outputs/GluGluHToBB_M120.root					VBF_Higgs.root		30.968		1.00	bg
../Submission/Outputs/GluGluHToBB_M125.root					VBF_Higgs.root		25.340		1.00	bg
../Submission/Outputs/GluGluHToBB_M130.root					VBF_Higgs.root		20.553		1.00	bg
../Submission/Outputs/GluGluHToZZTo4L_M125.root				VBF_Higgs.root		0.0129763	1.00	bg
../Submission/Outputs/WPlusH_HToMuMu_M125.root				VBF_Higgs.root		0.0001828	1.00	bg
../Submission/Outputs/WMinusH_HToMuMu_M125.root				VBF_Higgs.root		0.0001159	1.00	bg
../Submission/Outputs/ZH_HToZZ_4LFilter_M125.root			VBF_Higgs.root		0.0002361	1.00	bg
../Submission/Outputs/VBF_HToZZTo4L_M120.root				VBF_Higgs.root		0.0010511	1.00	bg
../Submission/Outputs/VBF_HToZZTo4L_M125.root				VBF_Higgs.root		0.0010102	1.00	bg
../Submission/Outputs/VBF_HToZZTo4L_M130.root				VBF_Higgs.root		0.0009715	1.00	bg
../Submission/Outputs/VBFHToBB_M-125.root					VBF_Higgs.root		2.183		1.00	bg
../Submission/Outputs/VBFHToBB_M-120.root					VBF_Higgs.root		2.572		1.00	bg
../Submission/Outputs/VBFHToBB_M-130.root					VBF_Higgs.root		1.813		1.00	bg
../Submission/Outputs/bbHToBB_M-125_4FS_yb2.root				VBF_Higgs.root		0.310		1.00	bg
# ../Submission/Outputs/ZH_HToBB_ZToQQ_M125.root				VBF_Higgs.root		0.311		1.00	bg
# ../Submission/Outputs/ggZH_HToBB_ZToQQ_M125.root			VBF_Higgs.root		0.043		1.00	bg
# ../Submission/Outputs/WplusH_HToBB_WToQQ_M125.root			VBF_Higgs.root		0.339		1.00	bg
# ../Submission/Outputs/WminusH_HToBB_WToQQ_M125.root		VBF_Higgs.root		0.199		1.00	bg

# Vector Boson Scattering samples (added September, 2019) and EWK backgrounds
../Submission/Outputs/EWKWMinus2Jets_WToLNu_M-50.root	EWK_V+2j.root	20.35		1.00	bg
../Submission/Outputs/EWKWPlus2Jets_WToLNu_M-50.root		EWK_V+2j.root	25.81		1.00	bg
../Submission/Outputs/EWKZ2Jets_ZToLL_M-50.root			EWK_V+2j.root	3.997		1.00	bg
../Submission/Outputs/EWKZ2Jets_ZToNuNu.root				EWK_V+2j.root	10.04		1.00	bg

../Submission/Outputs/WGJJToLNu_EWK_QCD.root			V#gamma+Jets.root	5.664		1.00	bg
../Submission/Outputs/LLAJJ_EWK_MLL-50_MJJ-120.root		V#gamma+Jets.root	0.1084		1.00	bg
# ../Submission/Outputs/LNuAJJ_EWK_MJJ-120.root		V#gamma+Jets.root	0.7760		1.00	bg
../Submission/Outputs/ZGTo2LG.root				V#gamma+Jets.root	123.8		1.00	bg
