luminosity 59740
output outDibosonCR_2018_centralandvbf_ptj60pmu20_03112020_DeepCSV_full.root
# output output.root
style cms

../Submission/Submission/allData.root          Data.root

#DY and WJets all inclusive:
# Alfredo:  DY: 6225.420, W+Jets: 61526.7
# Francesco: DY: 6025.2, W+jets: 61334.9 
../Submission/Submission/DYJetsToLL_M-50.root		DY+Jets.root	6025.200       1.00		bg
../Submission/Submission/WJetsToLNu.root            W+Jets.root     61334.90       1.00     bg

# DY+Jets M-50
../Submission/Submission/DYJetsToLL_M-50_HT-100to200.root        DY+Jets.root     213.400	1.00     bg
../Submission/Submission/DYJetsToLL_M-50_HT-200to400.root        DY+Jets.root     65.4200	1.00     bg
../Submission/Submission/DYJetsToLL_M-50_HT-400to600.root        DY+Jets.root     7.31000	1.00     bg
../Submission/Submission/DYJetsToLL_M-50_HT-600to800.root        DY+Jets.root     1.49000	1.00     bg
../Submission/Submission/DYJetsToLL_M-50_HT-800to1200.root       DY+Jets.root     0.66100	1.00     bg
../Submission/Submission/DYJetsToLL_M-50_HT-1200to2500.root      DY+Jets.root     0.11900	1.00     bg
../Submission/Submission/DYJetsToLL_M-50_HT-2500toInf.root       DY+Jets.root     0.00280	1.00     bg

# DY+Jets M-5to50 (using xsec to LO from XSDB tool)
../Submission/Submission/DYJetsToLL_M-4to50_HT-100to200.root            DY+Jets.root     224.20          1.00     bg
../Submission/Submission/DYJetsToLL_M-4to50_HT-200to400.root            DY+Jets.root     37.200          1.00     bg
../Submission/Submission/DYJetsToLL_M-4to50_HT-400to600.root            DY+Jets.root     3.5810          1.00     bg
../Submission/Submission/DYJetsToLL_M-4to50_HT-600toInf.root            DY+Jets.root     1.1240          1.00     bg

# QCD
../Submission/Submission/QCD_HT100to200.root 	QCD.root 	27990000.00	1.00	bg
../Submission/Submission/QCD_HT200to300.root 	QCD.root 	1559000.00	1.00	bg
../Submission/Submission/QCD_HT300to500.root 	QCD.root 	351900.00	1.00	bg
../Submission/Submission/QCD_HT500to700.root 	QCD.root 	290700.00	1.00	bg
../Submission/Submission/QCD_HT700to1000.root 	QCD.root 	5962.00		1.00	bg
../Submission/Submission/QCD_HT1000to1500.root 	QCD.root 	1005.00		1.00	bg
../Submission/Submission/QCD_HT1500to2000.root 	QCD.root 	101.80		1.00	bg
../Submission/Submission/QCD_HT2000toInf.root	QCD.root	20.54		1.00	bg

# Single top
../Submission/Submission/ST_s-channel_4f_leptonDecays.root		  		  SingleTop.root   3.680    1.00   bg
../Submission/Submission/ST_t-channel_antitop_4f_InclusiveDecays.root     SingleTop.root   80.95    1.00   bg
../Submission/Submission/ST_t-channel_top_4f_InclusiveDecays.root         SingleTop.root   136.02   1.00   bg
../Submission/Submission/ST_tW_antitop_5f_inclusiveDecays.root            SingleTop.root   38.06    1.00   bg
../Submission/Submission/ST_tW_top_5f_inclusiveDecays.root                SingleTop.root   38.06    1.00   bg
# ../Submission/Submission/tZq_Zhad_Wlept_4f_ckm_NLO.root					  SingleTop.root   0.1379	1.00   bg

# ttbar
../Submission/Submission/TTTo2L2Nu.root     	t#bar{t}.root    88.29   1.00   bg
../Submission/Submission/TTToHadronic.root  	t#bar{t}.root   377.96	 1.00	bg
../Submission/Submission/TTToSemiLeptonic.root	t#bar{t}.root	365.34	 1.00	bg

# TT+X
../Submission/Submission/TTWJetsToLNu.root				t#bar{t}.root	0.2043		1.00	bg
../Submission/Submission/TTWJetsToQQ.root				t#bar{t}.root	0.4062		1.00	bg
../Submission/Submission/TTZToLLNuNu_M-10.root			t#bar{t}.root	0.2529		1.00	bg
../Submission/Submission/TTZToQQ.root					t#bar{t}.root	0.5297		1.00	bg
../Submission/Submission/TTGJets.root					t#bar{t}.root	3.6970		1.00	bg
../Submission/Submission/TTTT.root						t#bar{t}.root	0.0090		1.00	bg			
# ../Submission/Submission/ttH_HToZZ_4LFilter_M125.root	t#bar{t}.root	0.0001355	1.00	bg

# W+jets
../Submission/Submission/WJetsToLNu_HT-100To200.root		W+Jets.root      1695.0			1.00      bg
../Submission/Submission/WJetsToLNu_HT-200To400.root		W+Jets.root      532.40			1.00      bg
../Submission/Submission/WJetsToLNu_HT-400To600.root		W+Jets.root      61.600         1.00      bg
../Submission/Submission/WJetsToLNu_HT-600To800.root		W+Jets.root      12.400         1.00      bg
../Submission/Submission/WJetsToLNu_HT-800To1200.root		W+Jets.root      5.7700         1.00      bg
../Submission/Submission/WJetsToLNu_HT-1200To2500.root		W+Jets.root      1.0230         1.00      bg
../Submission/Submission/WJetsToLNu_HT-2500ToInf.root		W+Jets.root      0.0248			1.00      bg

# Diboson
../Submission/Submission/WWTo2L2Nu_NNPDF31.root     						VV.root     10.480		1.00	bg
../Submission/Submission/WWTo4Q_NNPDF31.root								VV.root		51.723		1.00	bg
../Submission/Submission/WWToLNuQQ_NNPDF31.root								VV.root		43.530		1.00	bg
../Submission/Submission/WZTo1L1Nu2Q.root							VV.root		10.730		1.00	bg
../Submission/Submission/WZTo1L3Nu.root								VV.root		3.0540		1.00	bg
../Submission/Submission/WZTo2L2Q.root								VV.root		5.6060		1.00	bg
../Submission/Submission/WZTo3LNu.root								VV.root		4.4300		1.00 	bg
../Submission/Submission/ZZTo2L2Nu.root								VV.root		0.5644  	1.00	bg
../Submission/Submission/ZZTo2L2Q.root								VV.root		3.2220		1.00	bg
../Submission/Submission/ZZTo2Q2Nu.root								VV.root		4.0330		1.00	bg
../Submission/Submission/ZZTo4L.root								VV.root		1.2560		1.00	bg
../Submission/Submission/GluGluToWWToENEN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToENMN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToENTN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToMNEN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToMNMN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToMNTN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToTNEN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToTNMN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/GluGluToWWToTNTN.root						VV.root 	0.0457		1.00 	bg
../Submission/Submission/WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root	VV.root		2.616		1.00	bg
# ../Submission/Submission/WWJJToLNuLNu_QCD_noTop.root							VV.root		0.02615		1.00	bg
../Submission/Submission/WpWpJJ_QCD.root							VV.root		0.02615		1.00	bg
# Consider these diboson for the SF calculation.
../Submission/Submission/WWTo2L2Nu_DoubleScattering.root			VV.root		0.1703		1.00	bg
../Submission/Submission/ZZJJTo4L_EWK.root							VV.root		0.00044		1.00	bg
# ../Submission/Submission/ZZJJ_ZZTo2L2Nu_EWK.root					VV.root		0.002971	1.00	bg
../Submission/Submission/WpWpJJ_EWK.root							VV.root		0.02696		1.00	bg
../Submission/Submission/WWJJToLNuLNu_EWK_noTop.root				VV.root		0.3452		1.00	bg
../Submission/Submission/WLLJJ_WToLNu_EWK.root						VV.root		0.01628		1.00	bg

# Z+jets to nunu
#../Submission/Submission/ZJetsToNuNu_HT-100To200.root		ZToNuNu.root	384.1		1.00	bg
#../Submission/Submission/ZJetsToNuNu_HT-200To400.root		ZToNuNu.root	118.1		1.00	bg
#../Submission/Submission/ZJetsToNuNu_HT-400To600.root		ZToNuNu.root	14.70		1.00	bg
#../Submission/Submission/ZJetsToNuNu_HT-600To800.root		ZToNuNu.root	3.350		1.00	bg
#../Submission/Submission/ZJetsToNuNu_HT-800To1200.root		ZToNuNu.root	1.680		1.00	bg
#../Submission/Submission/ZJetsToNuNu_HT-1200To2500.root	ZToNuNu.root	0.316		1.00	bg
#../Submission/Submission/ZJetsToNuNu_HT-2500ToInf.root		ZToNuNu.root	0.00722		1.00	bg

# Triboson
../Submission/Submission/WWW_4F.root 	VVV.root	0.20860		1.00	bg
../Submission/Submission/WWZ.root		VVV.root	0.16510		1.00	bg
../Submission/Submission/WZZ.root		VVV.root	0.05565		1.00	bg
../Submission/Submission/ZZZ.root		VVV.root	0.01398		1.00	bg

# VBF Higgs
../Submission/Submission/GluGluHToBB_M-125.root				VBF_Higgs.root		25.340		1.00	bg
../Submission/Submission/GluGluHToZZTo4L_M125.root			VBF_Higgs.root		0.0129763	1.00	bg
../Submission/Submission/VBFHToBB_M-125.root				VBF_Higgs.root		2.183		1.00	bg
../Submission/Submission/VBF_HToZZTo4L_M120.root			VBF_Higgs.root		0.0010511	1.00	bg
../Submission/Submission/VBF_HToZZTo4L_M125.root			VBF_Higgs.root		0.0010102	1.00	bg
../Submission/Submission/VBF_HToZZTo4L_M130.root			VBF_Higgs.root		0.0009715	1.00	bg
../Submission/Submission/ZH_HToBB_ZToQQ_M125.root			VBF_Higgs.root		0.311		1.00	bg
../Submission/Submission/ZH_HToBB_ZToLL_M125.root			VBF_Higgs.root		0.311		1.00	bg
../Submission/Submission/ggZH_HToBB_ZToQQ_M125.root		VBF_Higgs.root		0.04884		1.00	bg
../Submission/Submission/ggZH_HToBB_ZToLL_M125.root		VBF_Higgs.root		0.006954		1.00	bg
# ../Submission/Submission/GluGluHToZZTo2L2Q_M125.root		VBF_Higgs.root 		0.1618		1.00	bg
# ../Submission/Submission/ZH_HToZZ_4LFilter_M125.root		VBF_Higgs.root		0.0002361	1.00	bg

# ../Submission/Submission/WMinusH_HToMuMu_M125.root			VBF_Higgs.root		0.0001159	1.00	bg
# ../Submission/Submission/WPlusH_HToMuMu_M125.root			VBF_Higgs.root		0.0001828	1.00	bg
# ../Submission/Submission/bbHToBB_M-125_4FS_yb2.root			VBF_Higgs.root		0.310		1.00	bg
# ../Submission/Submission/WplusH_HToBB_WToQQ_M125.root		VBF_Higgs.root		0.339		1.00	bg
# ../Submission/Submission/WminusH_HToBB_WToQQ_M125.root	VBF_Higgs.root		0.199		1.00	bg
# ../Submission/Submission/ggZH_HToBB_ZToBB_M125.root		VBF_Higgs.root		0.07784		1.00	bg

# Vector Boson Scattering samples (added September, 2019) and EWK backgrounds
../Submission/Submission/EWKWMinus2Jets_WToLNu_M-50.root	EWK_V+2j.root	23.24		1.00	bg
../Submission/Submission/EWKWPlus2Jets_WToLNu_M-50.root		EWK_V+2j.root	29.59		1.00	bg
../Submission/Submission/EWKZ2Jets_ZToLL_M-50.root			EWK_V+2j.root	4.321		1.00	bg
../Submission/Submission/EWKZ2Jets_ZToNuNu.root				EWK_V+2j.root	10.66		1.00	bg

../Submission/Submission/WGJJToLNu_EWK_QCD.root				V#gamma+Jets.root	5.0500		1.00	bg
../Submission/Submission/LLAJJ_EWK_MLL-50_MJJ-120.root		V#gamma+Jets.root	0.1097		1.00	bg
../Submission/Submission/ZGToLLG_01J_5f.root				V#gamma+Jets.root	50.43		1.00	bg
# ../Submission/Submission/LNuAJJ_EWK_MJJ-120.root            V#gamma+Jets.root   0.5345      1.00    bg

#../Submission/Submission/ZZJJTo4L_QCD.root					VBF.root	0.00934		1.00	bg
