luminosity 35920
output output.root
style cms

/home/scratch/kyungminpark/2016/Z_CR1/SingleMuon_Run2016.root          Data.root

# TTbar
/home/scratch/kyungminpark/2016/Z_CR1/TTTo2L2Nu_TuneCP5_PSweights_13TeV-powheg-pythia8.root         t#bar{t}.root     88.29     1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/TTToHadronic_TuneCP5_PSweights_13TeV-powheg-pythia8.root      t#bar{t}.root    377.96     1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/TTToSemiLeptonic_TuneCP5_PSweights_13TeV-powheg-pythia8.root  t#bar{t}.root    365.34     1.00    bg

# Single top
/home/scratch/kyungminpark/2016/Z_CR1/ST_s-channel_4f_leptonDecays_13TeV_PSweights-amcatnlo-pythia8.root                   SingleTop.root   3.680    1.00   bg
/home/scratch/kyungminpark/2016/Z_CR1/ST_t-channel_antitop_4f_inclusiveDecays_13TeV_PSweights-powhegV2-madspin.root        SingleTop.root   80.95    1.00   bg
/home/scratch/kyungminpark/2016/Z_CR1/ST_t-channel_top_4f_inclusiveDecays_13TeV_PSweights-powhegV2-madspin.root            SingleTop.root   136.02   1.00   bg
/home/scratch/kyungminpark/2016/Z_CR1/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root              SingleTop.root   38.06    1.00   bg
/home/scratch/kyungminpark/2016/Z_CR1/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root                  SingleTop.root   38.06    1.00   bg

# Z+jets
# Inclusive
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-10to50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root    DY+Jets.root   18610.0         1.00        bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root        DY+Jets.root    6025.2         1.00        bg

# DY+Jets M-5to50 (LO)
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-5to50_HT-100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            DY+Jets.root     224.20          1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-5to50_HT-200to400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            DY+Jets.root     37.200          1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-5to50_HT-400to600_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            DY+Jets.root     3.5810          1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-5to50_HT-600toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            DY+Jets.root     1.1240          1.00     bg

# DY+Jets M-50
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_HT-100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root        DY+Jets.root     213.400    1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_HT-200to400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root        DY+Jets.root     65.4200    1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_HT-400to600_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root        DY+Jets.root     7.31000    1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_HT-600to800_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root        DY+Jets.root     1.49000    1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_HT-800to1200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root       DY+Jets.root     0.66100    1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_HT-1200to2500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root      DY+Jets.root     0.11900    1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/DYJetsToLL_M-50_HT-2500toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root       DY+Jets.root     0.00280    1.00     bg

# Diboson
/home/scratch/kyungminpark/2016/Z_CR1/WWTo2L2Nu_13TeV-powheg.root                                           VV.root        10.480         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WWTo4Q_13TeV-powheg.root                                              VV.root        51.723         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WWToLNuQQ_13TeV-powheg.root                                           VV.root        43.530         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WpWpJJ_QCD_TuneCUETP8M1_13TeV-madgraph-pythia8.root                   VV.root        0.02612        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WWJJToLNuLNu_EWK_QCD_noTop-noHiggs_13TeV-madgraph-pythia8.root        VV.root        2.616          1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/GluGluWWTo2L2Nu_MCFM_13TeV.root                                       VV.root        0.5906         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WZTo1L1Nu2Q_13TeV_amcatnloFXFX_madspin_pythia8.root                   VV.root        10.730         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WZTo1L3Nu_13TeV_amcatnloFXFX_madspin_pythia8.root                     VV.root        3.0540         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WZTo2L2Q_13TeV_amcatnloFXFX_madspin_pythia8.root                      VV.root        5.6060         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WZTo3LNu_TuneCUETP8M1_13TeV-powheg-pythia8.root                       VV.root        4.4300         1.00     bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZTo2L2Nu_13TeV_powheg_pythia8_ext1.root                              VV.root        0.5644         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZTo2L2Q_13TeV_powheg_pythia8.root                                    VV.root        3.2220         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZTo2Q2Nu_13TeV_powheg_pythia8.root                                   VV.root        4.0330         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZTo4L_13TeV_powheg_pythia8.root                                      VV.root        1.2560         1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZTo4Q_13TeV_amcatnloFXFX_madspin_pythia8.root                        VV.root        6.842          1.00    bg

# W+jets
# Inclusive
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            W+Jets.root     61334.90       1.00     bg

# W+Jets HT-binned
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_HT-100To200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            W+Jets.root      1695.0         1.00      bg
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_HT-200To400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            W+Jets.root      532.40         1.00      bg
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_HT-400To600_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            W+Jets.root      61.600         1.00      bg
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_HT-600To800_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root            W+Jets.root      12.400         1.00      bg
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_HT-800To1200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root           W+Jets.root      5.7700         1.00      bg
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_HT-1200To2500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root          W+Jets.root      1.0230         1.00      bg
/home/scratch/kyungminpark/2016/Z_CR1/WJetsToLNu_HT-2500ToInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root           W+Jets.root      0.0248         1.00      bg

# QCD HT-binned
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT50to100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root       QCD.root    246300000.0        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root      QCD.root     27990000.0        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT200to300_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root      QCD.root      1559000.0        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT300to500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root      QCD.root       351900.0        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT500to700_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root      QCD.root        29070.0        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT700to1000_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root     QCD.root         5962.0        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT1000to1500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root    QCD.root         1005.0        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT1500to2000_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root    QCD.root          101.8        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/QCD_HT2000toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root     QCD.root          20.54        1.00    bg

# QCD Muon Enriched samples
# QCD_Pt-15to20_MuEnrichedPt5.root         QCD.root     3819570.0    1.00    bg
# QCD_Pt-20to30_MuEnrichedPt5.root         QCD.root     2960198.4    1.00    bg
# QCD_Pt-30to50_MuEnrichedPt5.root         QCD.root     1652471.5    1.00    bg
# QCD_Pt-50to80_MuEnrichedPt5.root         QCD.root      437504.5    1.00    bg
# QCD_Pt-80to120_MuEnrichedPt5.root         QCD.root      106033.7    1.00    bg
# QCD_Pt-120to170_MuEnrichedPt5.root         QCD.root       25190.5    1.00    bg
# QCD_Pt-170to300_MuEnrichedPt5.root         QCD.root        8654.5    1.00    bg
# QCD_Pt-300to470_MuEnrichedPt5.root        QCD.root        797.4    1.00    bg
# QCD_Pt-470to600_MuEnrichedPt5.root         QCD.root          79.0    1.00    bg
# QCD_Pt-600to800_MuEnrichedPt5.root         QCD.root          25.1    1.00    bg
# QCD_Pt-800to1000_MuEnrichedPt5.root        QCD.root          4.7    1.00    bg
# QCD_Pt-1000toInf_MuEnrichedPt5.root        QCD.root          1.6    1.00    bg

# QCD - EM enriched
# QCD_Pt-20to30_EMEnriched.root         QCD.root     5352960.0    1.00    bg
# QCD_Pt-30to50_EMEnriched.root         QCD.root     9928000.0    1.00    bg
# QCD_Pt-50to80_EMEnriched.root         QCD.root     2890800.0     1.00    bg
# QCD_Pt-80to120_EMEnriched.root         QCD.root      350000.0     1.00    bg
# QCD_Pt-120to170_EMEnriched.root     QCD.root       62964.0    1.00    bg
# QCD_Pt-170to300_EMEnriched.root     QCD.root       18810.0     1.00    bg
# QCD_Pt-300toInf_EMEnriched.root        QCD.root       1350.0    1.00    bg

# VBS/VBF Diboson
/home/scratch/kyungminpark/2016/Z_CR1/WWJJToLNuLNu_EWK_noTop_13TeV-madgraph-pythia8.root                    EWK_VV.root        0.3439        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WpWpJJ_EWK_TuneCUETP8M1_13TeV-madgraph-pythia8.root                   EWK_VV.root        0.02695       1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZJJTo4L_EWK_13TeV-madgraph-pythia8.root                              EWK_VV.root        0.0004454     1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZJJ_ZZTo2L2Nu_EWK_13TeV-madgraph-pythia8.root                        EWK_VV.root        0.002971      1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WLLJJ_WToLNu_EWK_TuneCUETP8M1_13TeV_madgraph-madspin-pythia8.root     EWK_VV.root        0.01762       1.00    bg

# WW/ZZ Double Parton Scattering
/home/scratch/kyungminpark/2016/Z_CR1/WWTo2L2Nu_DoubleScattering_13TeV-pythia8.root            DPS_VV.root        0.170300    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZTo4L_DoubleScattering_13TeV-pythia8.root               DPS_VV.root        0.929108    1.00    bg

# VBS/VBF W&Z + jets
/home/scratch/kyungminpark/2016/Z_CR1/EWKWMinus2Jets_WToLNu_M-50_13TeV-madgraph-pythia8.root        EWK_V.root        20.35        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/EWKWPlus2Jets_WToLNu_M-50_13TeV-madgraph-pythia8.root         EWK_V.root        25.81        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/EWKZ2Jets_ZToLL_M-50_13TeV-madgraph-pythia8.root              EWK_V.root         3.997        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/EWKZ2Jets_ZToNuNu_13TeV-madgraph-pythia8.root                 EWK_V.root        10.04        1.00    bg

# Higgs
/home/scratch/kyungminpark/2016/Z_CR1/GluGluHToZZTo4L_M125_13TeV_powheg2_JHUgenV6_pythia8.root              Higgs.root        0.0129763    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/VBF_HToZZTo4L_M125_13TeV_powheg2_JHUgenV6_pythia8.root                Higgs.root        0.0010102    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WPlusH_HToMuMu_M125_13TeV_powheg_pythia8.root                         Higgs.root        0.0001828    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WMinusH_HToMuMu_M125_13TeV_powheg_pythia8.root                        Higgs.root        0.0001159    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZH_HToZZ_4LFilter_M125_13TeV_powheg2-minlo-HZJ_JHUgenV6_pythia8.root  Higgs.root        0.0002361    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ttH_HToZZ_4LFilter_M125_13TeV_powheg2_JHUgenV6_pythia8.root           Higgs.root        0.0001355    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/VBFHToBB_M-125_13TeV_powheg_pythia8.root                              Higgs.root        2.183        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/GluGluHToBB_M125_13TeV_powheg_pythia8.root                            Higgs.root        25.340       1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WplusH_HToBB_WToQQ_M125_13TeV_powheg_pythia8.root                     Higgs.root        0.339        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WminusH_HToBB_WToQQ_M125_13TeV_powheg_pythia8.root                    Higgs.root        0.199        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZH_HToBB_ZToQQ_M125_13TeV_powheg_pythia8.root                         Higgs.root        0.311        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ggZH_HToBB_ZToQQ_M125_13TeV_powheg_pythia8.root                       Higgs.root        0.043        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/bbHToBB_M-125_4FS_yb2_13TeV_amcatnlo.root                             Higgs.root        0.310        1.00    bg 

# TT+X
/home/scratch/kyungminpark/2016/Z_CR1/TTWJetsToLNu_TuneCUETP8M1_13TeV-amcatnloFXFX-madspin-pythia8.root                t#bar{t}+X.root        0.2043        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/TTWJetsToQQ_TuneCUETP8M1_13TeV-amcatnloFXFX-madspin-pythia8.root                 t#bar{t}+X.root        0.4062        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/TTZToLLNuNu_M-10_TuneCUETP8M1_13TeV-amcatnlo-pythia8.root                        t#bar{t}+X.root        0.2529        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/TTZToQQ_TuneCUETP8M1_13TeV-amcatnlo-pythia8.root                                 t#bar{t}+X.root        0.5297        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/TTGJets_TuneCUETP8M1_13TeV-amcatnloFXFX-madspin-pythia8.root                     t#bar{t}+X.root        3.6970        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/TTTT_TuneCUETP8M1_13TeV-amcatnlo-pythia8.root                                    t#bar{t}+X.root        0.0090        1.00    bg            

# Triboson
/home/scratch/kyungminpark/2016/Z_CR1/WWW_4F_TuneCUETP8M1_13TeV-amcatnlo-pythia8.root     VVV.root    0.20860        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WWZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8.root        VVV.root    0.16510        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/WZZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8.root        VVV.root    0.05565        1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZZZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8.root        VVV.root    0.01398        1.00    bg

# V-gamma + jets
/home/scratch/kyungminpark/2016/Z_CR1/WGJJToLNu_EWK_QCD_TuneCUETP8M1_13TeV-madgraph-pythia8.root                V#gamma.root      5.664     1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/LLAJJ_EWK_MLL-50_MJJ-120_13TeV-madgraph-pythia8.root                      V#gamma.root      0.1084    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/LNuAJJ_EWK_MJJ-120_TuneCUETP8M1_13TeV-madgraph-pythia8.root               V#gamma.root      0.7760    1.00    bg
/home/scratch/kyungminpark/2016/Z_CR1/ZGTo2LG_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8.root                      V#gamma.root      123.8     1.00    bg    # from XSDB
