luminosity 35920
output     output.root
style      cms

/home/scratch/kyungminpark/2016/W_CR2/SingleMuon_Run2016.root Data.root

# HT-binned QCD
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT50to100_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 246700000.00 1.0 bg # need to check
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 27990000.00 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT200to300_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 1559000.00 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT300to500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 351900.00 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT500to700_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 29070.00 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT700to1000_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 5962.00 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT1000to1500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 1005.00 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT1500to2000_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 101.80 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/QCD_HT2000toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root QCD.root 20.54 1.0 bg 

# Diboson
/home/scratch/kyungminpark/2016/W_CR2/WW_TuneCUETP8M1_13TeV-pythia8.root Diboson.root 118.7  1.0 bg                            # need to check
/home/scratch/kyungminpark/2016/W_CR2/WZ_TuneCUETP8M1_13TeV-pythia8.root Diboson.root 47.13  1.0 bg                            # need to check
/home/scratch/kyungminpark/2016/W_CR2/ZZ_TuneCUETP8M1_13TeV-pythia8.root Diboson.root 16.523  1.0 bg                           # need to check

# DYJets M-50
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 6025.20 1.0 bg        
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_HT-100to200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 213.400 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_HT-200to400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 65.4200 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_HT-400to600_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 7.3100 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_HT-600to800_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 1.49000 1.0 bg   
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_HT-800to1200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 0.66100 1.0 bg  
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_HT-1200to2500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 0.11900 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/DYJetsToLL_M-50_HT-2500toInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root DYJetsToLL.root 0.00280 1.0 bg  

# EWK ZtoLL
/home/scratch/kyungminpark/2016/W_CR2/EWKZ2Jets_ZToLL_M-50_13TeV-madgraph-pythia8.root DYJetsToLL.root 3.997 1.0 bg        

# SingleTop
/home/scratch/kyungminpark/2016/W_CR2/ST_t-channel_antitop_4f_inclusiveDecays_13TeV_PSweights-powhegV2-madspin.root SingleTop.root 80.95 1.0 bg 
/home/scratch/kyungminpark/2016/W_CR2/ST_t-channel_top_4f_inclusiveDecays_13TeV_PSweights-powhegV2-madspin.root SingleTop.root 136.02 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root SingleTop.root 38.06 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root SingleTop.root 38.06 1.0 bg

# Inclusive TTbar
/home/scratch/kyungminpark/2016/W_CR2/TT_TuneCUETP8M2T4_13TeV-powheg-pythia8.root TTbar.root 831.59 1.0 bg

# WJets
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 61334.90 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_HT-100To200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 1695.00 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_HT-200To400_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 532.40 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_HT-400To600_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 61.60 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_HT-600To800_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 12.40 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_HT-800To1200_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 5.77 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_HT-1200To2500_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 1.023 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/WJetsToLNu_HT-2500ToInf_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root WJetsToLNu.root 0.0248 1.0 bg

# EWK WJets
/home/scratch/kyungminpark/2016/W_CR2/EWKWMinus2Jets_WToLNu_M-50_13TeV-madgraph-pythia8.root WJetsToLNu.root 20.35 1.0 bg
/home/scratch/kyungminpark/2016/W_CR2/EWKWPlus2Jets_WToLNu_M-50_13TeV-madgraph-pythia8.root WJetsToLNu.root 25.81 1.0 bg
